nonebot-adapter-qq==1.5.0
nonebot2==2.3.2
nonebot2[fastapi]
nonebot2[aiohttp]
nonebot2[httpx]
nonebot2[websockets]
aiofiles==24.1.0
ujson==5.10.0
emoji==2.12.1
nonebot-plugin-send-anything-anywhere==0.6.1
pillow==10.4.0